.main {
    color: #2E2032;
    background-color: #fff;
    padding: 20px;
}

.header {
    height: 20px;
    
}

.form, .window, .letter {
    max-width: 640px;
    margin: 0 auto;
    /* padding: 20px; */
}


.form__fieldtitle {
    margin-top: 37px;
    font-size: 1.2rem;
}

.form__subtitle {
    font-size: 14px;
}

.form-select {
    max-width: 400px;
    margin-top: 10px;
}


.form-floating {
    width: 150px;
   
}

/* .btn-check {
    margin-top: 10px;
} */

.form__vehicle {
    /* list-style: none;
    display: flex;
    flex-wrap: wrap; */
    margin: 0;
    padding: 0;
}

.form__vehicle_item {
    margin-right: 7px;
    margin-top: 7px;
}
.form__vehicle_item:last-child {
    margin-left: 0;
}

.form-control {
    padding: 10px 10px;
}



.window__header {
    margin-bottom: 20px;
    margin-top: 30px;
}

.window__subtitle {
    font-size: 14px;
}

.ok_icon {
    width: 40px;
    height: 40px;
}

.btn.btn-primary {
    background-color: #333;
    border: none;
    padding: 8px 18px;
}

.form-check {
    margin-top: 14px;   
}

.custom-checkbox {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.letter__header {
    font-size: 24px;
}

.letter__title {
    font-style: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.letter__section_title {
    font-style: 20px;
    margin-top: 40px;
}

.letter__details {
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    min-height: 35px;
}

.letter__text {
    display: block;
}

.letter__wrapper {
    margin-top: 20px;
    padding-bottom: 20px;
}

.custom_button {
    margin-top: 20px;
    text-align: center;
    
}

.letter__subtitle {
    margin-top: 20px;
}

.btn.btn-primary {
 
    padding: 16px 28px;
}


.custom_btn {
    padding: 16px 26px;
}

.letter__org {
    margin-top: 48px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}