.main {
    color: #2E2032;
    background-color: #fff;
    padding: 20px;
}

.header {
    height: 40px;

    
}

.form, .window {
    max-width: 640px;
    margin: 0 auto;
    /* padding: 20px; */
}


.form__fieldtitle {
    margin-top: 40px;
    font-size: 1.2rem;
}

.form__subtitle {
    font-size: 14px;
}

.form-select {
    max-width: 400px;
    margin-top: 10px;
}


.form-floating {
    width: 150px;
   
}

/* .btn-check {
    margin-top: 10px;
} */

.form__vehicle {
    /* list-style: none;
    display: flex;
    flex-wrap: wrap; */
    margin: 0;
    padding: 0;
}

.form__vehicle_item {
    margin-right: 7px;
    margin-top: 7px;
}
.form__vehicle_item:last-child {
    margin-left: 0;
}

.form-control {
    padding: 10px 10px;
}



.window__header {
    margin-bottom: 20px;
    margin-top: 30px;
}

.window__subtitle {
    font-size: 14px;
}

.ok_icon {
    width: 40px;
    height: 40px;
}

.btn.btn-primary {
    background-color: #333;
    border: none;
    padding: 8px 18px;
}

.form-check {
    margin-top: 13px;   
}

.custom-checkbox {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}